Problem Statement: 

A Mobile Phone manufacturing company wants to launch its three brand new phone into the market, but before going with its traditional marketing approach this time it want to analyze the data of its previous model sales in different regions and you have been hired as an Data Scientist to help them out, use the Association rules concept and provide your insights to the companyâ€™s marketing team to improve its sales.

Business Objective:

Understand Sales Trends: Look at past sales data to find patterns, such as which phone models were popular in different regions and why.

Group Customers: Identify different types of customers based on their buying habits, so marketing efforts can be tailored to specific groups.

Improve Marketing: Use the analysis to create targeted marketing campaigns that highlight features and promotions relevant to specific customer segments.

Plan the Launch: Based on past sales, determine the best ways to launch the new phone models to make the most of marketing efforts.

Increase Sales: The main goal is to boost sales of the new phone models by using insights from the data to attract more customers.

In [1]:
#First import all the libraries
import pandas as pd
from mlxtend.frequent_patterns import apriori,association_rules
from mlxtend.preprocessing import TransactionEncoder

In [2]:
df=pd.read_csv('myphonedata.csv')
df

    red  white  green  yellow  orange  blue
0     1      1      1       0       0     0
1     0      1      0       0       1     0
2     0      1      0       0       0     1
3     1      1      0       0       1     0
4     1      0      0       0       0     1
5     0      1      0       0       0     1
6     1      0      0       0       0     1
7     1      1      0       0       0     1
8     0      0      1       0       0     0
9     1      1      0       0       0     1
10    0      0      0       1       0     0

In [3]:
df.head()

   red  white  green  yellow  orange  blue
0    1      1      1       0       0     0
1    0      1      0       0       1     0
2    0      1      0       0       0     1
3    1      1      0       0       1     0
4    1      0      0       0       0     1

In [4]:
#Our dataset is in proper format that is required for Apriori
#step2:Apply the apriori algorithm to find frequent itemsets
frequent_itemsets=apriori(df,min_support=0.1,use_colnames=True)
frequent_itemsets

C:\Users\ADMIN\anaconda3\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

    support            itemsets
0  0.545455               (red)
1  0.636364             (white)
2  0.181818             (green)
3  0.181818            (orange)
4  0.545455              (blue)
5  0.363636        (red, white)
6  0.363636         (blue, red)
7  0.181818     (orange, white)
8  0.363636       (blue, white)
9  0.181818  (blue, red, white)

In [5]:
#step3:Generate association rules from the frequent itemsets
rules=association_rules(frequent_itemsets,metric="lift",min_threshold=1)

In [6]:
#step4:Output the results
print("Frequent Itemsets:")
print(frequent_itemsets)

Frequent Itemsets:
    support            itemsets
0  0.545455               (red)
1  0.636364             (white)
2  0.181818             (green)
3  0.181818            (orange)
4  0.545455              (blue)
5  0.363636        (red, white)
6  0.363636         (blue, red)
7  0.181818     (orange, white)
8  0.363636       (blue, white)
9  0.181818  (blue, red, white)

In [7]:
print("\nAssociation Rules:")
print(rules[['antecedents','consequents','support','confidence','lift']])

Association Rules:
  antecedents consequents   support  confidence      lift
0       (red)     (white)  0.363636    0.666667  1.047619
1     (white)       (red)  0.363636    0.571429  1.047619
2      (blue)       (red)  0.363636    0.666667  1.222222
3       (red)      (blue)  0.363636    0.666667  1.222222
4    (orange)     (white)  0.181818    1.000000  1.571429
5     (white)    (orange)  0.181818    0.285714  1.571429
6      (blue)     (white)  0.363636    0.666667  1.047619
7     (white)      (blue)  0.363636    0.571429  1.047619

The implementation of Association Rule Learning to analyze previous mobile phone sales provides significant benefits to the manufacturing company. By leveraging historical sales data, the company can make data-driven decisions and enhance targeting for marketing campaigns, leading to improved engagement and conversion rates. Insights into regional sales patterns inform tailored product launch strategies, maximizing the chances of success for new models. This approach allows for optimized resource allocation, ensuring marketing budgets are used effectively. Ultimately, the company gains a competitive advantage and fosters continuous improvement by refining strategies based on real-time feedback, driving increased sales revenue and customer satisfaction.